.navbar {
    display: flex;
    gap: 20px;
    background-color: #282c34;
    align-items: center; 
    padding: 16px;
    font-size: 20px;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
  }
  
  .navbar a.active {
    border-bottom: 2px solid #61dafb;
  } 
  .logout-btn {
    background: transparent;
    color: white;
    border: 2px solid #61dafb;
    padding: 6px 14px;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.25s ease;
  }

  .logout-btn:hover {
    background: #61dafb;
    color: #282c34;
  }

  